{{#if errorMessage}}
  <div class="errors">{{errorMessage}}</div>
{{/if}}

<form {{action "authenticate" on="submit"}}>

    <label for="email">
      {{input value=email placeholder="Email Address"}}
    </label>

    <label for="password">
      {{input value=password type="password" placeholder="Password"}}
    </label>

    <br>

    <button type="submit">Let Me Back In!</button>
    <button {{action "guestLogin"}}>Sign in as Guest!</button>

</form>
